@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 65px;
    background-color: #ffffff;
    z-index: 1000;    
  }
  
.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
}