@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 55px;
    background-color: #ffffff;
    z-index: 1000;
        
  }
  
.login{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 5%);
}

  
.sidelogin{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 5%);
}

.full{
  height: 100vh;
}